* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
}

:root {
    --purple-200: #9a7bd1;

    --purple-500: #6b36c8;
    --purple-800: #441f88;

    --black-800: #171717;

    --gray-200: #cccccc;
    --gray-400: #505861;

    --white: #F9F9F9;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--gray-200);
    color: var(--black-800);
}

.button{
    padding: 12px 32px;
    border: 1px solid var(--purple-800);
    border-radius: 10px;
    text-align: center;
    font-weight: 700;
    button:active {
    transform: scale(0.98)
        }

}

.button:hover{
    color: var(--white);
    background-color: var(--purple-800);
    transition: 0.3s;
    
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_container{
    background-color: var(--purple-800);
    top: 0;
    position: sticky;
    filter: opacity(0.9);
    height: 80px;
}

.menu_container a {
    font-size: 16px;
    color: var(--white);
    font-weight: bold;
}

.menu_container a:hover {
    color: var(--purple-200);
}

.menu_content {
    max-width: 1120px;
    padding: 0 24px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.menu_lista {
    list-style: none;
}

.menu_lista li {
    margin: 0 0 0 16px;
}